  
  <p *ngIf = "!(books$ | async) "> Loading. . . </p>
  <mat-accordion>
      <mat-expansion-panel *ngFor = "let book of books$ | async">
        <mat-expansion-panel-header>
          <mat-panel-title>
           {{book.doc}}
          </mat-panel-title>
        </mat-expansion-panel-header> 
        by {{book.category}}
        <button 
        mat-raised-button color="primary"
        (click)= deleteBook(book.id)>
        Delete
      </button> 
      <button 
      mat-raised-button color="primary"
      [routerLink]="'/editbook/' + book.id">
      Update
    </button>  
       
        </mat-expansion-panel>
    </mat-accordion>
